.bottom-center{
    position:fixed;
    bottom:20%;
    right:10%;
    margin:0;
    padding:1em 1em;
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
  }

  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    border-radius: 35px;
    font-size: 18px;
    line-height: 1.33;
  }